@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-body: 244 244 245;
    --color-border: 209 213 219;
    --color-neutral: 255 255 255;
    --color-inverted: 0 0 0;
    --color-text: 0 0 0;
    --color-dim: 0 0 0;
    --color-icon: 75 85 99;
  }

  :root.dark {
    --color-body: 22 22 26;
    --color-border: 48 48 48;
    --color-neutral: 32 32 36;
    --color-inverted: 255 255 255;
    --color-text: 255 255 255;
    --color-dim: 220 220 240;
    --color-icon: 156 163 175;
  }

  body {
    background-color: rgb(var(--color-body));
    color: rgb(var(--color-text));
  }

  *,
  ::before,
  ::after {
    border-color: rgb(var(--color-border));
    @apply outline-offset-4;
  }

  @media screen and (max-width: 640px) {
    html {
      font-size: 14px;
    }
  }

  html,
  body {
    height: 100%;
  }

  a:not(.unstyled) {
    @apply text-blue-500 dark:text-blue-300;
  }

  a:not(.unstyled):hover {
    text-decoration: underline;
  }

  h1 {
    @apply typo-h1;
  }

  h2 {
    @apply typo-h2;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400 dark:text-gray-500;
  }
}

@layer utilities {
  .col {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .flex-2 {
    flex: 2;
  }

  .text-dim {
    @apply text-opacity-80;
  }

  .typo-h1 {
    @apply text-3xl font-semibold;
  }

  .typo-h2 {
    @apply text-xl font-semibold;
  }

  .border-strong {
    @apply border-gray-500 dark:border-gray-400;
  }

  .text-green {
    @apply text-green-700 dark:text-green-300;
  }

  .border-green {
    @apply border-green-700 dark:border-green-300;
  }

  .text-red {
    @apply text-red-700 dark:text-red-300;
  }

  .border-red {
    @apply border-red-700 dark:border-red-300;
  }

  .fallback {
    @apply text-dim font-medium row justify-center items-center;
  }

  .shadow-current-day {
    box-shadow: inset 0 0 theme('spacing.1') theme('colors.primary');
  }
}

@layer components {
  .card {
    border-radius: theme('borderRadius.lg');
    box-shadow: theme('boxShadow.DEFAULT');
    background-color: theme('colors.neutral');
    overflow: hidden;
  }

  .button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: theme('spacing.2');

    padding: theme('spacing.1') theme('space.4');
    border-radius: theme('borderRadius.lg');
    border-width: 2px;

    font-weight: theme('fontWeight.semibold');
    white-space: nowrap;

    @apply transition-all;

    &:not(:disabled):hover {
      box-shadow: theme('boxShadow.md');
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  .button-primary {
    @apply bg-green-600 dark:bg-green-700;
    @apply border-green-600 dark:border-green-700;
    color: white;
  }

  .button-secondary {
    @apply text-dim border-gray-400 dark:border-gray-600;
  }
}

:root.dark .map {
  filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.1) brightness(0.7);
}

/* https://tiptap.dev/api/extensions/placeholder */
.tiptap p.is-editor-empty:first-child::before {
  @apply text-gray-400 dark:text-gray-500;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.prose li,
.prose li p {
  @apply my-0;
}
