@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media screen and (max-width: 640px) {
    html {
      font-size: 14px;
    }
  }

  body {
    background-color: #f4f4f5;
    color: theme('textColor.neutral');
  }

  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    @apply text-blue-800;
  }

  a:hover {
    text-decoration: underline;
  }

  a.unstyled {
    color: inherit;
  }

  a.unstyled:hover {
    text-decoration: none;
  }
}

@layer utilities {
  .col {
    @apply flex flex-col;
  }

  .row {
    @apply flex flex-row;
  }
}

@layer components {
  .card {
    border-radius: theme('borderRadius.lg');
    box-shadow: theme('boxShadow.DEFAULT');
    background-color: theme('colors.neutral');
    overflow: hidden;
  }

  .button {
    @apply row items-center gap-2 whitespace-nowrap rounded-lg px-4 py-1 font-medium hover:shadow-md border-2;

    &.button-primary {
      @apply bg-green text-white border-green;
    }

    &.button-secondary {
      @apply border-gray-400;
    }
  }
}
