@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-body: 244 244 245;
    --color-border: 209 213 219;
    --color-placeholder: 156 163 175;
    --color-neutral: 255 255 255;
    --color-inverted: 0 0 0;
    --color-text: 9 9 11;
    --color-dim: 82 82 91;
    --color-link: 59 130 246;
  }

  :root.dark {
    --color-body: 22 22 26;
    --color-border: 48 48 48;
    --color-placeholder: 107 114 128;
    --color-neutral: 32 32 36;
    --color-inverted: 255 255 255;
    --color-text: 250 250 250;
    --color-dim: 161 161 170;
    --color-link: 96 165 250;
  }

  * {
    border-color: rgb(var(--color-border));
    outline-offset: theme(outlineOffset.4);
  }

  @media screen and (max-width: 639px) {
    html {
      font-size: 14px;
    }
  }

  body {
    overflow-y: scroll;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    background-color: rgb(var(--color-body));
    color: rgb(var(--color-text));
  }

  ::placeholder {
    color: rgb(var(--color-placeholder));
  }

  h1 {
    font-size: theme(fontSize.3xl);
    font-weight: theme(fontWeight.semibold);
  }

  @media screen and (max-width: 639px) {
    h1 {
      font-size: theme(fontSize.2xl);
    }
  }

  .prose {
    a {
      color: theme(colors.blue.500);
    }

    li,
    li p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .dark .prose {
    a {
      color: theme(colors.blue.300);
    }
  }
}

@layer components {
  .shadow-current-day {
    box-shadow: inset 0 0 theme(spacing.1) theme(colors.primary);
  }

  table.table {
    thead th {
      background-color: theme(colors.inverted/0.1);
      color: theme(colors.dim);
      font-size: theme(fontSize.sm);
      font-weight: theme(fontWeight.medium);
      text-align: start;
      border-top-left-radius: theme(borderRadius.DEFAULT);
      border-top-right-radius: theme(borderRadius.DEFAULT);
    }

    tbody tr {
      border-top-width: 1px;

      &:hover {
        background-color: theme(colors.primary/0.05);
      }
    }

    th,
    td {
      padding: theme(spacing.2) theme(spacing.3);
    }
  }
}

@layer utilities {
  .row {
    display: flex;
    flex-direction: row;
  }

  .col {
    display: flex;
    flex-direction: column;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: rgb(var(--color-placeholder));
  float: left;
  height: 0;
  pointer-events: none;
}

.dark .map {
  filter: brightness(60%) contrast(140%) grayscale(25%);
  color: #666;
}
