@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-size: 0.875rem;
}

@media screen and (min-width: 768px) {
  :root {
    --default-font-size: 1rem;
  }
}

@layer base {
  html {
    @apply text-base;
  }

  body {
    @apply font-inter text-neutral bg-body;
  }

  strong {
    @apply font-semibold;
  }

  svg {
    @apply fill-icon;
  }
}

@layer components {
  .content {
    @apply max-w-page mx-auto px-2;
  }

  .card {
    @apply rounded bg-neutral shadow;
  }
}

@layer utilities {
  .row {
    @apply flex flex-row;
  }

  .col {
    @apply flex flex-col;
  }

  .flex-3 {
    flex: 3;
  }

  .typo-title {
    @apply font-bold text-xl;
  }

  .typo-subtitle {
    @apply font-semibold text-lg;
  }
}
